.menuRightContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: all .25s ease-in-out;
    z-index: 20;
    border-right: 1px solid #0000001c;
}

.overLay{
    transition: opacity .25s ease-in-out ,transform .25s ease-in-out;
    z-index: 19;
    opacity: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: #00000071;
    pointer-events: none;
}

.active{
    transform: translateX(0rem);
    pointer-events: all;
    opacity: 1;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 1rem 0 0;
    width: 100%;
}
.iconApp{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    object-fit: cover;
}
.header p{
    margin-left: auto;
    margin-right: .5rem;
    font-size: 1.2rem;
    color: #679bb7;
}
.header i{
    font-size: 1.3rem;
    height: 3rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header i:hover{
    color: #23449e;
}

/* main */
.main ul{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.main ul li{
    display: flex;
    width: 100%;
    align-items: center;
    height: 3.8rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    padding-right: 1rem;
}
.main ul li i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    transition: all .3s ease;
    width: 2.5rem;
    height: 3.8rem;
}
.main ul li span{
    font-size: .9rem;
}
.main ul li:hover i{
    transform: rotate(360deg);
}
.main ul li:nth-child(1){
    color: #873986;
}
.main ul li:nth-child(1):hover{
    background-color: #f0e1f0;
}
.main ul li:nth-child(2){
    color: #006a78;
}
.main ul li:nth-child(2):hover{
    background-color: #e1f0f3;
}
.main ul li:nth-child(3){
    color: #407635;
}
.main ul li:nth-child(3):hover{
    background-color: #dcedd8;
}
.main ul li:nth-child(4){
    color: #d65e26;
}
.main ul li:nth-child(4):hover{
    background-color: #ffe6da;
}

/* footer */
.footer{
    margin-top: auto;
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer span{
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: .9rem;
    color: #9e9e9e;
    user-select: none;
}