@font-face {
    font-family: "Vazir";
     src: url('../../public/fonts/Vazir.woff2') format('woff2'),
       url('../../public/fonts/Vazir.woff') format('woff'),
       url('../../public/fonts/Vazir.ttf') format('truetype'),
       url('../../public/fonts/Vazir.eot') format('opentype');
}
html{
    width: 100vw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
body{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    max-width: 460px;
    position: relative;
    font-family: "Vazir";
    color: #2c2c2c;
}
#root{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.myToast{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.Toastify__toast-icon{
    position: absolute;
    bottom: 1.5rem;
}
.Toastify__toast-icon svg{
    width: 2rem!important;
}