.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.loginContainer section{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cacaca;
    color: #3f3f3f;
}

.header>span{
    font-size: .9rem;
    padding: .8rem 1.2rem;
}

.header button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border: none;
    background-color: #fff;
    gap: .3rem;
}
.header button div{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: .1rem;
    border: .1rem solid gray;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    transition: all .2s;
}
.header button.onCheck{
    background-color: #d0ffd0;
    border: none;
}
.header button.onCheck div{
    background-color: transparent;
    border: solid green;
    border-width: 0 0 .2rem .2rem;
    border-radius: .2rem;
    width: 1.8rem;
    height: .8rem;
    transform: rotate(-45deg) translate(.4rem,-.2rem);
}

.loginContainer section form{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.loginContainer section form>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .7rem 2rem;
    gap: .4rem;
}
.loginContainer section form>div input{
    border: none;
    border-radius: .5rem;
    width: 100%;
    background-color: #f1f1f1;
    padding: .8rem 1rem;
    outline: none;
    font-size: 1.3rem;
}
.loginContainer section form>div input::placeholder{
    font-size: .9rem;
}
.submitBtn{
    border: none;
    padding: 1rem;
    width: 100%;
    height: 3.5rem;
    max-width: 25rem;
    margin: 0 auto;
    border-radius: .5rem;
    font-size: 1.2rem;
    outline: none;
    background-color: #ececec;
    margin-top: 2rem;
    transition: all .3s ease;
    cursor: not-allowed;
}
.active{
    background-color: #9fdca2;
    cursor: pointer;
}
.active:hover{
    background-color: #70bb73;
}
.pendingBtn{
    border: none;
    width: 100%;
    max-width: 25rem;
    height: 3.5rem;
    margin: 0 auto;
    border-radius: .5rem;
    font-size: 1.2rem;
    outline: none;
    background-color: #f2f2f2;
    margin-top: 2rem;
    transition: all .3s ease;
    cursor: wait;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pendingBtn img{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
}


.errorTxtNo{
    display: none;
    color: red;
}
.errorTxtYes{
    display: flex;
    color: red;
}
.errorServer{
    width: 100%;
    font-size: .9rem;
    color: red;
    text-align: center;
}