.container{
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transform: translateY(-5rem);
    transition: opacity 0.3s ease, transform 0.2s ease;
    z-index: 10;
}

.showin{
    opacity: 1;
    transform: translateY(0);
}

.fadeout{
    opacity: 0;
    transform: translateY(-5rem);
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    background-color: #4794ff;
}

.header>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header>div h6{
    height: 3.5rem;
    font-size: .9rem;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #deebff;
    padding: .1rem .5rem 0 0;
}

.header>div i{
    font-size: 1.5rem;
    color: #deebff;
    padding: 0;
    padding-right: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header button{
    border: none;
    background-color: transparent;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    color: #deebff;
}

.main{
    width: 100%;
    height: 100%;
    position: relative;
}

.main form{
    width: 100%;
    height: max-content;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.main form>div:not(:first-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main form>div:not(:first-child) label{
    position: absolute;
    transform: translate(-0.7rem , 0rem);
    transition: all .3s ease;
    color: #000000;
    font-size: .9rem;
    width: fit-content;
}
.main form>div:not(:first-child) input{
    font-size: 1.2rem;
    width: 100%;
    background-color: #ececec;
    border: none;
    outline: none;
    padding: 1.8rem 1.5rem 0.5rem 1.5rem;
    color: #000000;
    border-radius: .6rem;
}
.profileImage{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #ececec;
    border: 1px solid #949494;
    border-radius: .5rem;
}
.uploadedImg{
    border: none!important;
    background-color: transparent!important;
    padding: .4rem!important;
}
.profileImage input{
    display: none;
}
.profileImage label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-align: center;
    width: 100%;
    border: none;
}
.profileImage img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.profileImage>i{
    position: absolute;
    left: .5rem;
    top: .5rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.groupId{
    width: 100%;
    position: relative;
}
.groupId select{
    width: 100%;
    border: none;
    padding: 1.2rem .5rem;
    font-size: .9rem;
    outline: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}
.groupId i{
    left: 1rem;
    position: absolute;
}
.studentRole{
    width: 100%;
    display: flex;
    gap: .5rem;
    justify-content: center!important;
}
.studentRole button{
    border: none;
    padding: 1rem 2rem;
    transition: all .3s;
    border-radius: .5rem;
}
.studentRole button.active{
    background-color: #c5ddff;
}
.password{
    opacity: .4;
}
.password input{
    background-color: #d2e5ff!important;
    padding-bottom:1rem!important ;
}


.footerBtn:active{
    filter: brightness(.85);
    transform: translateY(.2rem);
}
.submitBtn{
    background-color: #438a4f;
    width: 100%;
    height: 4rem;
    border: none;
    border-start-end-radius: 2rem;
    border-start-start-radius: 2rem;
    outline: none;
    font-size: 1.1rem;
    transition: all .2s ease;
    color: #dfdfdf;
}