.container{
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transform: translateY(-5rem);
    transition: opacity 0.3s ease, transform 0.2s ease;
    z-index: 10;
}

.showin{
    opacity: 1;
    transform: translateY(0);
}

.fadeout{
    opacity: 0;
    transform: translateY(-5rem);
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    background-color: #252525;
}

.header h6{
    height: 3.5rem;
    font-size: .9rem;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dadada;
    padding: 0 1rem;
}

.header i{
    font-size: 1.5rem;
    color: #86b8ff;
    padding: 0 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 100%;
    height: 100%;
    position: relative;
}

.main form{
    width: 100%;
    height: max-content;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.main form>div:not(:first-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main form>div:not(:first-child) label{
    position: absolute;
    transform: translate(-0.7rem , 0rem);
    transition: all .3s ease;
    color: #000000;
    font-size: .9rem;
    width: fit-content;
}
.main form>div:not(:first-child) input{
    font-size: 1.2rem;
    width: 100%;
    background-color: #ececec;
    border: none;
    outline: none;
    padding: 1.8rem 1rem 0.2rem 1rem;
    color: #000000;
}
.profileImage{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #ececec;
    border: 1px solid #949494;
}
.uploadedImg{
    border: none!important;
    background-color: transparent!important;
    padding: .4rem!important;
}
.profileImage input{
    display: none;
}
.profileImage label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-align: center;
    width: 100%;
    border: none;
}
.profileImage img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.profileImage>i{
    position: absolute;
    left: .5rem;
    top: .5rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.selectGroup{
    width: 100%;
    position: relative;
}
.selectGroup select{
    width: 100%;
    border: none;
    padding: 1.2rem .5rem;
    font-size: .9rem;
    outline: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}
.selectGroup i{
    left: 1rem;
    position: absolute;
}
.studentRole{
    width: 100%;
    display: flex;
    gap: .5rem;
    justify-content: center!important;
}
.studentRole button{
    border: none;
    padding: 1rem 2rem;
    transition: all .3s;
}
.studentRole button.active{
    background-color: #a0dee0;
}




.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
}
.footerBtn{
    width: 50%;
    border: none;
    outline: none;
    font-size: 1.05rem;
    transition: all .2s ease;
    color: #dfdfdf;
}
.footerBtn:active{
    filter: brightness(.85);
    transform: translateY(.2rem);
}
.closeBtn{
    background-color: #dbdbdb;
    color: #000000;
}
.submitBtn{
    background-color: #438a4f;
}