/* @import "./newStudent.module.css"; */

.loadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 15rem);
    position: absolute;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: absolute;
}

.profileContent {
    background: #ffffff;
    border-radius: .7rem;
    padding: 0rem 2rem;
    width: 100%;
    max-width: 28rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    transition: all .25s;
}
.profileContent p{
    margin-left: auto;
}

.avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #d3ebe0;
}

.profileContent h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2b2b2b;
    margin-bottom: .5rem;
}

.profileContent p {
    font-size: .9rem;
    color: #555;
}

.editBtn {
    margin-top: .8rem;
    height: 3rem;
    border: none;
    border-radius: .5rem;
    background-color: #ea921e;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s;
    width: 100%;
}
.editBtn:hover {
    background-color: #da8517;
}
.editBtn:active {
    transform: scale(1.02);
}