.loadingImg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffffdc;
    z-index: 100;
}

.loadingImg img{
    width: 5rem;
    object-fit: cover;
}